{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block main %}
    <h1>Register</h1>
    <h3>Please enter your information</h3> 

    <!-- Display alert message if there is one -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- Registration form -->
    <form action="/register" method="post">
        <div class="container-fluid">
            <div class="col-4 row">

                <!-- Username input -->
                <!-- Username rules: 3-18 char, alphanumeric. Could have underscore in between but not start or end with one -->
                <div class="mb-3">
                    <label for="register-username" class="form-label">Username</label>
                    <input
                        type="text"
                        class="form-control"
                        name="username"
                        id="register-username"
                        placeholder="Username"
                        minlength="3"
                        maxlength="18"
                        pattern="^[a-zA-Z0-9][a-zA-Z0-9_]{1,16}[a-zA-Z0-9]$"
                        required
                        title="Username must be 3-18 characters long, alphanumeric. It can contain underscores in between but not start or end with one."
                    />
                </div>

                <!-- Email input -->
                <!-- Email rules: valid email format, max 100 char -->
                <div class="mb-3">
                    <label for="register-email" class="form-label">Email</label>
                    <input
                        type="email"
                        class="form-control"
                        name="email"
                        id="register-email"
                        placeholder="Email"
                        maxlength="100"
                        required
                        title="Please enter a valid email address.""
                    >
                </div>

                <!-- Password input. -->
                <!-- Password rules: 8 - 128 char. At least 1 uppercase letter and 1 digit -->
                <div class="mb-3">
                    <label for="register-password" class="form-label">Password</label>
                    <input
                        type="password"
                        class="form-control"
                        name="password"
                        id="register-password"
                        placeholder="Password"                        
                        minlength="8"
                        maxlength="128"
                        required
                        pattern="^(?=.*[A-Z])(?=.*[0-9]).{8,128}$"
                        title="Password must be at least one uppercase letter, one digit and 8 characters long."
                    />
                </div>

                <div class="mb-3">
                    <label for="register-confirm" class="form-label">Confirm Password</label>
                    <input
                        type="password"
                        class="form-control"
                        name="confirm_password"
                        id="register-confirm"
                        placeholder="Confirm Password"
                        minlength="8"
                        maxlength="128"
                        required
                    />
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>       
            </div>
        </div>
        
    </form>  
        
{% endblock %}
