{% extends "layout.html" %}

{% block title %}Transactions{% endblock %}

{% block main %}
    <h1>Transactions</h1>

    <!-- Display alert message if there is one -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <!-- Transaction form -->
     <form action="/transactions" method="post">
        <div
            class="container-fluid"
        >
            <div
                class="row justify-content-center align-items-center g-2"
            >
                <div class="col">
                    <div class="mb-3">
                        <label for="transaction-date" class="form-label">Date</label>
                        <input
                            type="date"
                            class="form-control"
                            name="date"
                            id="transaction-date"
                            placeholder="Date"
                            required
                        />
                    </div>
                     
                </div>
                <div class="col">
                    <div class="mb-3">
                        <div class="mb-3">
                            <label for="transaction-type" class="form-label">Type</label>
                            <select
                                class="form-select"
                                name="type"
                                id="transaction-type"
                                required
                            >
                                <option value="" selected disabled>Select one</option>
                                <option value="Income">Income</option>
                                <option value="Outcome">Outcome</option>
                            </select>
                        </div>
                        
                    </div>
                    
                </div>

                <div class="col">
                    <div class="mb-3">
                        <label for="category" class="form-label">Category</label>
                        <select
                            class="form-select"
                            name="category"
                            id="category"
                            required
                        >
                            <option value="" selected disabled>Select a type first</option>
                        </select>
                    </div>
                    
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="amount" class="form-label">Amount</label>
                        <input
                            type="text"
                            class="form-control"
                            name="amount"
                            id="amount"
                            placeholder="MXN"
                            required
                        />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea
                            class="form-control"
                            name="description"
                            id="description"
                            rows="3"
                            maxlength="200"
                            placeholder="Description"
                            required
                        ></textarea>
                        <small id="char-counter">200 characters max</small>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                    <button
                        type="submit"
                        class="btn btn-primary"
                    >
                        Submit
                    </button>
            </div>
        </div>
    </form>


    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.8.1"></script>
    <script>
        // Let Jinja convert the python dictionary (categories_dict) to a json so JS can read it.
        // If dict. is empty, set it to '{}' 
        const categoriesData = {{ categories | tojson | safe if categories else '{}' }};
        const typeSelect = document.getElementById("transaction-type");
        const categorySelect = document.getElementById("category");

        typeSelect.addEventListener("change", function () {
            const selectedType = this.value;
            categorySelect.innerHTML = "";

            // Check if there is a valid category on the selected type.
            if (categoriesData[selectedType]) {
                // Do a for loop to create the categories options based on user's custom options
                categoriesData[selectedType].forEach(function (item) {
                const option = document.createElement("option");
                option.value = item.id;
                option.textContent = item.category;
                categorySelect.appendChild(option);
                });
            } else {
                // If no categories, generic message
                const option = document.createElement("option");
                option.value = "";
                option.textContent = "No category available";
                categorySelect.appendChild(option);
            }
        });

        // Using AutoNumeric for amount field
        new AutoNumeric('#amount', {
            currencySymbol: '$',
            decimalCharacter: '.',
            decimalPlaces: 2,
            digitGroupSeparator: ',',
            minimumValue:'0',
            unformatOnSubmit: true
        });

        // Description char-counter
        const descriptionInput = document.getElementById('description');
        const charCounter = document.getElementById('char-counter');
        
        descriptionInput.addEventListener('input', function() {
            const remainingChars = 200 - descriptionInput.value.length;
            charCounter.textContent = remainingChars + ' characters left';
            
            // Change color if remaining char is near end
            if  (remainingChars > 100) {
                charCounter.style.color = 'white';
            }
            if (remainingChars <= 100) {
                charCounter.style.color = 'orange';
            }
            if (remainingChars <= 50) {
                charCounter.style.color = 'red';
            }
        });
        </script>

{% endblock %}

    
